:root {
    --text-color: #3E3E3E;
    --link-color: #787878;
    --background-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Libre Baskerville';
    background-color: var(--background-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

#essay-links a {
    color:#000000
}

#feature-links a {
    color:#000000
}

.main-container {
    display: flex;              /* Enables Flexbox */
    justify-content: center;    /* Horizontally centers content */
    text-align: left;           /* Ensures text inside is left-aligned */
    min-height: 100vh;          /* Makes container fill the full viewport height */
    padding: 20px;
}

.content-wrapper {
    max-width: 600px;
    width: 100%;
}

/* SECTION 1: HERO */
.hero-section {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    padding: 30px 40px;
    max-width: 600px;
}


.hero-section .text h1 {
    font-size: 36px;
    padding-bottom: 10px;
}

.hero-section .text p1 {
    margin-top: 50px;
    padding: 5px 0;
    font-size: 14px;
    color: #787878;
}

/* SECTION 2: ABOUT */
.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    gap: 40px;
    max-width: 600px;
}

.about-section .text .section-title {
    margin-bottom: 15px;
    font-weight: bold;
}

.about-section .text .popup-content {
    font-size: 14px;
    margin-left: 15px;
}

/* SECTION 3: CONTACT */
.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    max-width: 600px;
}

.contact-section .text .section-title {
    margin-bottom: 15px;
    font-weight: bold;
}

.contact-section .text .email-div {
    font-weight: lighter;
    margin-bottom: 15px;
    font-size: 14px;
    margin-left: 15px;
}

.contact-section .text .email-div p {
    color: #000000;
}

.contact-section .text .instagram-div {
    font-weight: lighter;
    font-size: 14px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.contact-section .text .instagram-div p {
    color: #000000;
}

.contact-section .text .Github-div {
    font-weight: lighter;
    margin-bottom: 15px;
    font-size: 14px;
    margin-left: 15px;
}

.contact-section .text .Github-div p {
    color: #000000;
}

a {
    color: #868686; /* Change link color */
    text-decoration: none; /* Remove underline */
}

a:hover {
    text-decoration: underline; /* Add underline on hover */
    color: #000000; /* Change color on hover */
}

/* SECTION 4: ESSAYS */
.essay-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    gap: 40px;
    max-width: 600px;
}

.essay-section .text .section-title {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 16px;
}

.essay-section .text .startup-learnings-div p {
    font-size: 14px;
    font-weight: lighter;
    margin-left: 15px;
}
.essay-section .text .startup-learnings-div p1 {
    font-size: 14px;
    font-weight: lighter;
    color: #868686;
    margin-left: 15px;
}

.essay-section .text .sirtuins-div p {
    font-size: 14px;
    font-weight: lighter;
    margin-top: 15px;
    margin-left: 15px;
}

.essay-section .text .sirtuins-div p1 {
    font-size: 14px;
    font-weight: lighter;
    color: #868686;
    margin-left: 15px;
}


/* SECTION 4: EXTRA CURRICULAR */
.extra-curricular-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    gap: 40px;
    max-width: 600px;
}

.extra-curricular-section .text .section-title {
    margin-bottom: 15px;
    font-weight: bold;
    
}

.extra-curricular-section .text .MONO-div p {
    font-size: 14px;
    font-weight: lighter;
    margin-left: 15px;
    margin-top: 15px;
    
    
}

.extra-curricular-section .text .MONO-div p1 {
    font-size: 14px;
    font-weight: lighter;
    color: #868686;
    margin-left: 15px;
    
}

.extra-curricular-section .text .GC25-div p {
    font-size: 14px;
    font-weight: lighter;
    margin-left: 15px;
    margin-top: 15px;
    
    
}

.extra-curricular-section .text .GC25-div p1 {
    font-size: 14px;
    font-weight: lighter;
    color: #868686;
    margin-left: 15px;
    
}

.extra-curricular-section .text .WGLC-div p {
    font-size: 14px;
    font-weight: lighter;
    margin-left: 15px;
    margin-top: 15px;
    
}

.extra-curricular-section .text .WGLC-div p1 {
    font-size: 14px;
    font-weight: lighter;
    color: #868686;
    margin-left: 15px;
}

.extra-curricular-section .text .U4C-div p {
    font-size: 14px;
    font-weight: lighter;
    margin-left: 15px;
    margin-top: 15px;
    
}

.extra-curricular-section .text .U4C-div p1 {
    font-size: 14px;
    font-weight: lighter;
    color: #868686;
    margin-left: 15px;
}

.extra-curricular-section .text .WGKCC-div p {
    font-size: 14px;
    font-weight: lighter;
    margin-left: 15px;
    margin-top: 15px;
    
}

.extra-curricular-section .text .WGKCC-div p1 {
    font-size: 14px;
    font-weight: lighter;
    color: #868686;
    margin-left: 15px;
}

.extra-curricular-section .text .TACKK-div p {
    font-size: 14px;
    font-weight: lighter;
    margin-left: 15px;
    margin-top: 15px;
    
}

.extra-curricular-section .text .TACKK-div p1 {
    font-size: 14px;
    font-weight: lighter;
    color: #868686;
    margin-left: 15px;
    
}

/* SECTION 5: EDUCATION */
.education-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    gap: 40px;
    max-width: 600px;
}

.education-section .text .section-title {
    margin-bottom: 15px;
    font-weight: bold;
}

.education-section .text .uToronto-div p {
    font-size: 14px;
    font-weight: lighter;
    margin-left: 15px;
}

.education-section .text .uToronto-div p1 {
    font-size: 14px;
    font-weight: lighter;
    color: #868686;
    margin-left: 15px;
}

.education-section .text .WGSS-div p {
    font-size: 14px;
    font-weight: lighter;
    margin-left: 15px;
    margin-top: 15px;
}

.education-section .text .WGSS-div p1 {
    font-size: 14px;
    font-weight: lighter;
    color: #868686;
    margin-left: 15px;
}

/* SECTION 6: OTHER LINKS */
.other-links-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    gap: 40px;
    max-width: 600px;
}

.other-links-section .text .section-title {
    margin-bottom: 15px;
    font-weight: bold;
}

.other-links-section .text .links a {
    color: #000000;
    font-size: 14px;
    font-weight: lighter;
    margin-left: 30px;
    margin-top: 15px;
    font-weight: lighter;
}

.other-links-section .text .links a:hover {
    color: #2F4858;
}